#block_container_democrat
{
    text-align:center;
}

#post_date_democrat, #post_username_democrat
{
    display:inline;
}

#block_container_republican
{
    text-align:center;
}

#post_date_republican, #post_username_republican
{
    display:inline;
}

#block_container
{
    text-align:inline;
}

#block_vote, #block_title
{
    display:inline;
}



$background-color: #F0F0F0;

body {
  background-color: $background-color;
}



h1 {
  font-family: sans-serif;
}

.vote {
  border: none;
  background-color: $background-color; 
  width: 47px;
  height: 21.5px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  
  &:active {
    outline: none;
    border: none;
  }
  
  &:focus {
    outline: 0;
  }
}

.upArrow {
  x: 0px;
  y: 0px;
  enable-background: new 0 0 11.5 6.4;
  path {
    fill: #BBBBBB;
    fill-rule: evenodd;
    clip-rule: evenodd;
    margin: 0;
  }
}

.downArrow {
  x: 0px;
  y: 0px;
  enable-background: new 0 0 11.5 6.4;
  path {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #BBBBBB;
  }
}

#upButton :hover {
  fill: #6CC576;
  cursor: pointer;
}

#downButton :hover {
  fill: #FF586C;
  cursor: pointer;
}