#block_container_democrat
{
    text-align:center;
}

#post_date_democrat, #post_username_democrat
{
    display:inline;
}

#block_container_republican
{
    text-align:center;
}

#post_date_republican, #post_username_republican
{
    display:inline;
}

#block_container
{
    text-align:inline;
}

#block_vote, #block_title
{
    display:inline;
}

#stylized-form { 
    margin: 50 auto; 
    width:250px;
    }

