#block_container_democrat
{
    text-align:center;
}

#post_date_democrat, #post_username_democrat
{
    display:inline;
}

#block_container_republican
{
    text-align:center;
}

#post_date_republican, #post_username_republican
{
    display:inline;
}

a {
  padding-left: 5px;
}

/* some simple transitions to make the upvote and downvote
buttons fade in as a visual cue for the user */

.glyphicon {
  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.glyphicon:hover {
  opacity: 0.75;
  cursor: pointer;
}

