{% extends '/base.html' %}
{% block script %}
	<script type="text/javascript" src="{{ url_for('static', filename='../static/js/contact.js') }}"/>
{% endblock %}
{% block head %}
	<title>Contact us</title>
{% endblock %}

{% block body %}
	<div id="msg"></div>
    <div class="contact-clean" style="background: url(&quot;../static/img/star-sky.jpg&quot;);">
        <form class="bg-white" method="post">
            <h2 class="text-center">Contact us</h2>
            <div class="form-group"><input class="border-dark form-control" id="name" type="text" name="name" placeholder="Name"></div>
            <div class="form-group"><input class="border-dark form-control is-invalid" id="email" type="email" name="email" placeholder="Email" style="color: rgb(80,94,108);"></div>
            <div class="form-group"><textarea class="border-dark form-control" id="message" name="message" placeholder="Message" rows="14"></textarea></div>
            <div class="form-group"><button class="btn btn-primary" id="contactSubmit" type="submit">Send </button></div>
        </form>
    </div>
{% endblock %}