{% extends '/base.html' %}
{% block script %}

{% endblock %}

{% block head %}
    
    <link rel="stylesheet" href="../static/css/WOWSlider-about-us-1.css">
    <link rel="stylesheet" href="../static/css/WOWSlider-about-us-2.css">
    <link rel="stylesheet" href="../static/css/WOWSlider-about-us.css">
	
{% endblock %}

{% block body %}
<section class="about-us">
    <div class="container">
        <div class="row padding-content">
            <div class="col-md-4 no-padding">
                <div id="wowslider-container1">
                    <div class="ws_images">
                        <ul>
                            <li><img id="wows1_0" src="../static/img/EvsD1.jpg" style="width: 421px;height: 477px;"></li>
                            <li><img id="wows1_1" src="../static/img/3Hb0RH_s6s8.jpg"></li>
                            <li><img id="wows1_2" src="../static/img/6NMPUFefwgM.jpg"></li>
                            <li><img id="wows1_3" src="../static/img/8sl6Q86gsfM.jpg"></li>
                            <li><img id="wows1_4" src="../static/img/wNvJKN1zPtE.jpg"><div>Custom Code</div></li>
                        </ul>
                    </div>
                    <div class="ws_script" href="http://wowslider.net" style="position:absolute;left:-99%"><a href="http://wowslider.net">javascript image slider</a><strong>Bold</strong></div>
                    <div class="ws_shadow"></div>
                </div>
            </div>
            <div class="col-md-8 abt-right" style="height: 359px;margin: 0px;padding: -37px;">
                <h1 class="text-center" style="text-align: center;">About Elephant vs Donkey</h1>
                <p style="width: 688px;height: 27px;padding: 83px;margin: 3px;">This project is a political resource website with user-driven content. “A political website for people that hate politics.” The purpose is to have a user-friendly website where users can see diverse political information that consists
                    of upvoted comments. The site will span from local to national politics, covering both individual politicians and any local or national voting issue. There will be an emphasis on citing sources (much like Wikipedia) so that
                    the comments will be as validated and accurate as possible. </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
