{% extends '/base.html' %}
{% from 'macros.html' import postAreas %}

{% block css %}
<link rel="stylesheet" href="/../static/css/post.css">
<link rel="stylesheet" href="/../static/css/comments.css">
<link rel="stylesheet" href="/../static/css/upvotejs.css">
{% endblock %}

{% block script %}
<script type="text/javascript" src="{{ url_for('static', filename='../static/js/addarea.js') }}" />
<script type="text/javascript" src="{{ url_for('static', filename='../static/js/post.js') }}" />
{% endblock %}

{% block head %}
	<title>Areas</title>
{% endblock %}

{% block body %}
<h1 style="text-align: center;">Areas</h1> 
<div class="row">
    <div class="col" style="text-align: center;"> 
        <a href="{{ url_for('.make_area') }}">
            <button class="btn btn-primary" type="button" id="areaButton">Add an Area</button>
        </a>
    </div>
</div>
    {{postAreas(areas)}}

{% endblock %}