{% extends '/base.html' %}
{% block script %}
<script type="text/javascript" src="{{ url_for('static', filename='../static/js/auth.js') }}" />
{% endblock %}

{% block head %}
	<title>Login</title>
{% endblock %}

{% block body %}
	<div id="msg"></div>
    <div class="login-dark" id="loginform">
        <form method="post">
            <h2 class="sr-only">Login Form</h2>
            <div class="illustration"><i class="icon ion-ios-locked-outline"></i></div>
            <div class="form-group"><input class="form-control" id="email" type="email" name="email" placeholder="Email"></div>
            <div class="form-group"><input class="form-control" id="password" type="password" name="password" placeholder="Password"></div>
            <div class="form-group"><button class="btn btn-primary btn-block" id="loginSubmit" type="submit">Log In</button></div><a class="forgot" href="#">Forgot your email or password?</a></form>
    </div>
{% endblock %}