{% extends '/base.html' %}
{% block script %}
<script type="text/javascript" src="{{ url_for('static', filename='../static/js/signup.js') }}" />
{% endblock %}

{% block head %}
	<title>Sign up</title>	
{% endblock %}

{% block body %}
	<div id="msg"></div>
    <div class="login-dark" id="signupform">
        <form method="post" style="text-align: center;">
            <h2 class="sr-only">Sign Up Form</h2><strong class="text-center" style="text-align: center;">Create a new User</strong>
            <div class="illustration"><i class="icon ion-ios-locked-outline"></i></div>
			<div class="form-signup"><input class="form-control" id="username" type="text" name="username" placeholder="Username"></div>
			<div class="form-signup"><input class="form-control" id="first" type="text" name="firstname" placeholder="Firstname"></div>
			<div class="form-signup"><input class="form-control" id="last" type="text" name="lastname" placeholder="Lastname"></div>
            <div class="form-signup"><input class="form-control" id="email" type="email" name="email" placeholder="Email"></div>
			<div class="form-signup"><input class="form-control" id="party" type="text" name="party" placeholder="Party Affiliation"></div>
            <div class="form-signup"><input class="form-control" id="password" type="password" name="password" placeholder="Password"></div>
			<div class="form-signup"><input class="form-control" id="password_2" type="password" name="password" placeholder="Confirm Password"></div>
            <div class="form-signup"><button class="btn btn-primary btn-block" id="signupSubmit" type="submit">Sign up</button></div></form>
    </div>
{% endblock %}